﻿@model Whiteboard.Models.ViewModels.Accounts.AccountManagementViewModel
@using Whiteboard.Models.ViewModels.Accounts
@using Whiteboard

@{
    ViewData["Title"] = "Account Management";
}

<script src="~/scripts/SecurityLib.js"></script>

<h2 class="common-heading">Account Management</h2>

<h3 class="common-heading">Students</h3>

@{ await Html.RenderPartialAsync("_ManageAccountsTablePartial",
        Model.Students);}

<h3 class="common-heading">Staff</h3>

@{ await Html.RenderPartialAsync("_ManageAccountsTablePartial",
        Model.Lecturers);}

<script>
    $(document).ready(function () {
        $(".manage-accounts-table").on("click", ".delete-button", function () {
            var userRow = $(this).parent().parent();
            var selectedUsername = userRow.attr("data-username");

            $.ajax({
                type: "DELETE",
                url: "@Url.Action("RemoveAccount", "Account")",
                data: AntiForgeryToken({ username: selectedUsername }),
                success: function () {
                    userRow.remove();
                },
                error: function () {
                    location.reload(true);
                }
            });
        });
    });
</script>