﻿@{
    ViewData["Title"] = "Login";
}

@model Whiteboard.Models.ViewModels.Accounts.UserLoginViewModel

<h2 class="common-heading">Login to Whiteboard</h2>

<br />
<br />

<div class="common-validation" asp-validation-summary="All"></div>
<form method="post" asp-controller="Account" asp-action="Login" class="center-contents">
    <div class="table-form center-table-form">
        <div class="row-field">
            <label asp-for="Username" class="cell-field common-label"></label>
            <input asp-for="Username" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Password" class="cell-field common-label"></label>
            <input asp-for="Password" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <div class="cell-field"></div>
            <input type="submit" value="Login" class="cell-field common-btn" />
        </div>
    </div>
</form>