﻿@model Whiteboard.Models.ViewModels.Accounts.ManageUserViewModel

@{
    ViewData["Title"] = "Manage Account";
}

<h2 class="common-heading">Manage Account</h2>

<div class="common-validation" asp-validation-summary="All"></div>

<form method="post" asp-controller="Account" asp-action="ManageAccount" class="center-contents">
    <div class="table-form center-table-form">
        <input asp-for="Username" type="hidden" />
        <div class="row-field">
            <label asp-for="Forename" class="cell-field common-label"></label>
            <input asp-for="Forename" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Surname" class="cell-field common-label"></label>
            <input asp-for="Surname" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Claims" class="cell-field common-label"></label>
            <div class="cell-field">
                @if (Model.AvailableClaims.Count() == 0) {
                    <b class="common-paragraph">No Claims</b>
                } else {
                    <table class="claims-edit-table">
                        <tr>
                            @foreach (string availableClaim in Model.AvailableClaims) {
                                <th class="common-label">@availableClaim</th>
                            }
                        </tr>
                        <tr>
                            @for (int i = 0; i < @Model.Claims.Length; i++) {
                                <td>@Html.CheckBoxFor(c => c.Claims[i])</td>
                            }
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="row-field">
            <div class="cell-field"></div>
            <input type="submit" value="Apply Changes" class="cell-field common-btn" />
        </div>
    </div>
</form>