﻿@{
    ViewData["Title"] = "StaffRegister";
}

@model Whiteboard.Models.ViewModels.Accounts.LecturerRegisterViewModel

<h2 class="common-heading">Staff Register</h2>

<div class="common-validation" asp-validation-summary="All"></div>

<form method="post" asp-controller="Account" asp-action="StaffRegister">
    <div class="table-form center-table-form">
        <div class="row-field">
            <label asp-for="Title" class="cell-field common-label"></label>
            <input asp-for="Title" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Username" class="cell-field common-label"></label>
            <input asp-for="Username" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Email" class="cell-field common-label"></label>
            <input asp-for="Email" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="ConfirmEmail" class="cell-field common-label"></label>
            <input asp-for="ConfirmEmail" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Forename" class="cell-field common-label"></label>
            <input asp-for="Forename" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Surname" class="cell-field common-label"></label>
            <input asp-for="Surname" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="Password" class="cell-field common-label"></label>
            <input asp-for="Password" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <label asp-for="ConfirmPassword" class="cell-field common-label"></label>
            <input asp-for="ConfirmPassword" class="cell-field form-input" />
        </div>
        <div class="row-field">
            <div class="cell-field"></div>
            <input type="submit" value="Register" class="cell-field common-btn" />
        </div>
    </div>
</form>