﻿@model Whiteboard.Models.ViewModels.Modules.ModuleMaterialViewModel
@using Whiteboard.Models.ViewModels.Modules
@using System.Text.Encodings.Web

@inject JavaScriptEncoder jsEncoder

@{
    ViewData["Title"] = "Material";
    ViewData["ModuleCode"] = Model.Code;
}

@{await Html.RenderPartialAsync("_MaterialScriptsPartial");}

@{await Html.RenderPartialAsync("_MessengerScriptsPartial");}

<h2 class="common-heading">Material</h2>

<div id="material">
    @foreach (LectureViewModel lecture in Model.Lectures) {
        <script>
            var material = createViewableMaterial(
                "@jsEncoder.Encode(lecture.Name)", @lecture.Id);

            document.write(material);
        </script>

        @await Html.PartialAsync("_MessengerPartial",
            lecture.MaterialMessageBoard);

        <p class="show-comments" data-message-board-id="@lecture.MaterialMessageBoard.Id">Show comments</p>
        <br />
        <br />

        <script>
            $("#messenger-" + @lecture.MaterialMessageBoard.Id)
                .addClass("hide-message-board");
        </script>

        <script>
            @foreach (ResourceViewModel item in lecture.Resources) {
                <text>
                    var materialDisplay = $(".material-display:last");
                    var fileIcons = materialDisplay.find(".file-icons");
                    var fileNames = materialDisplay.find(".file-names");
                    fileIcons.prepend(createItemIcon("@lecture.Id", "@item.Id"));
                    var name = "@jsEncoder.Encode(@item.Name)";
                    fileNames.prepend(createItemName(name));
                </text>
            }
        </script>
    }
</div>