﻿/*button {
    background-color: #4786f0;
    color: black;
    border: none;
    border-radius: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    position:relative;
}*/

/*button:hover,
button:focus {
    background-color: #35eed5;
    color: #eef2f9;
}*/

.common-btn {
    background-color: #4786f0;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

.common-btn:hover,
.common-btn:focus {
    background-color: #35eed5;
    color: #eef2f9;
    text-decoration: none;
}

a.common-btn {
    display: table;
    width: auto;
    white-space: nowrap;
}

.link-container {
    display: inline-block;
}

.modules-list {
    text-align: center;
}

input[type=text].form-input,
input[type=password].form-input,
input[type=email].form-input {
    border-radius: 100px;
    border: solid;
    border-color: #4786f0;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    width: 200px;
}

body {
    background-color: aliceblue;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse {
    background-color: #eef2f9;
    border-color: #ced2d9;
    border-radius: 50px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #35eed5;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #35eed5;
}

.center-table-form {
    margin: 0 auto;
    text-align: center;
}

.center-contents {
    text-align: center;
}

.table-form,
.table-material,
.table-files {
    display: table;
}

.table-material {
    width: 100%;
    table-layout: fixed;
}

.table-files {
    border-spacing: 10px;
    margin-left: auto;
}

.row-field {
    display: table-row;
}

.cell-field {
    display: table-cell;
}

.common-validation,
.common-label,
.common-paragraph,
.common-heading {
    text-align: center;
    color: #4786f0;
}

.common-validation ul {
    list-style-type: none;
}

.messages-display {
    background-color: white;
    border-radius: 5px 5px 0 0;
    border: solid;
    border-color: #4786f0;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
    overflow: auto;
    height: 150px;
    width: 100%;
    text-align: left;
}

.message-input {
    position: relative;
    border-radius: 5px;
    border: solid;
    border-color: #4786f0;
    bottom: 4px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.messagetextbox {
    position: relative;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
    vertical-align: top;
    resize: none;
    height: 75px;
    width: 100%;
    background-color: white;
    border: hidden;
}

.messagebutton {
    background-color: #4786f0;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.message {
    font-size: 8pt;
}

.msgheader {
    font-size: 9pt;
}

.msgfooter {
    font-size: 8pt;
}

#addmaterial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border: dashed;
    border-color: #4786f0;
    border-width: 10px;
    cursor: pointer;
}

#addmaterialtext {
    font-size: 36px;
    font-weight: bold;
    color: #4786f0;
    user-select: none;
}

#addmaterial:hover {
    border-color: #35eed5;
}

#addmaterial:hover > #addmaterialtext {
    color: #35eed5;
}

.show-message-board,
.show-popup {
    display: block;
}

.hide-message-board,
.hide-popup {
    display: none;
}

.popup-back {
    position: fixed;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
}

.popup-front {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.popup-input {
    border-radius: 100px;
    border: solid;
    border-color: #4786f0;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    width: 100%;
}

.material-display {
    border-radius: 50px;
    border: solid;
    border-color: #4786f0;
    background-color: #e0fcf8;
    padding: 5px 40px 5px 40px;
    margin: 10px 10px 10px 10px;
    width: 100%;
    max-width: 100%;
}

.material-header {
    vertical-align: middle;
    text-align: left;
    overflow: auto;
    width: 20%;
}

.material-footer {
    text-align: right;
    width: 80%;
}

.material-title {
    display: inline;
    font-size: 24pt;
    color: #4786f0;
}

.add-item-icon,
.add-item-name {
    width: 64px;
    min-width: 64px;
    border: dashed;
    border-color: #4786f0;
    border-width: 4px;
    cursor: pointer;
    vertical-align: middle;
}

.add-item-icon {
    height: 64px;
    min-height: 64px;
}

.add-item-name {
    height: 20px;
    min-height: 20px;
}

#item-file-input {
    display: none;
}

.file-name {
    text-align: center;
}

.file-image {
    text-align: center;
}

.files-display {
    display: inline-block;
    overflow: auto;
    width: 100%;
}

.show-comments,
.hide-comments {
    color: #4786f0;
    cursor: pointer;
}

.show-comments:hover,
.hide-comments:hover {
    color: #35eed5;
}

#material {
    text-align: center;
}

#analytics-display {
    text-align: center;
    border-radius: 25px;
    border: solid;
    border-color: #4786f0;
    background-color: #e0fcf8;
}

/*.analytics-table {
    table-layout: fixed;
    width: 100%;
}*/

.analytic {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border: solid;
    border-color: #4786f0;
    vertical-align: top;
    background-color: aliceblue;
}

.analytic-contents {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*.material-analytics {
    
}*/

.analytic-name,
.analytic-value {
    display: inline-block;
}

hr {
    border: none;
    height: 2px;
    background-color: #4786f0;
}

.manage-accounts-table {
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.manage-accounts-cell {
    text-align: center;
}

.claims-edit-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
}

/*.item-display {
    display: inline-block;
    margin: 30px;
}*/

/*.items-table {
    display: inline-block;
}*/
/*#addmaterial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border: dashed;
    border-color: #4786f0;
    border-width: 10px;
    text-decoration: none;
    cursor: pointer;
}

#addmaterialtext {
    font-size: 36px;
    font-weight: bold;
    color: #4786f0;
    user-select: none;
}*/