﻿@model Whiteboard.Models.ViewModels.Modules.ModuleAnalyticsViewModel
@using Whiteboard.Models.ViewModels.Modules

@{
    ViewData["Title"] = "Analytics";
    ViewData["ModuleCode"] = Model.Code;
}

<h2 class="common-heading">Analytics</h2>

<div id="analytics-display">
    <h2 class="common-heading">% of students that have downloaded the material</h2>
    <hr />

    @foreach (MaterialAnalyticsViewModel materialAnalytic
        in Model.MaterialAnalytics) {

        <h3 class="common-heading">@materialAnalytic.Name</h3>

        <div class="material-analytics">
            @foreach (ResourceAnalyticsViewModel resourceAnalytic
                    in materialAnalytic.ResourceAnalytics) {
                <div class="analytic">
                    <div class="analytic-contents">
                        <h4 class="analytic-name common-heading">@resourceAnalytic.Name</h4>
                        <br />
                        <h4 class="analytic-value common-heading">@resourceAnalytic.PercentSeen</h4>
                    </div>
                </div>
            }

            <h3 class="common-heading">Total: @materialAnalytic.TotalSeen</h3>
            <br />

            <h3 class="common-heading">Students who commented:</h3>

            @foreach (string studentCommenter
                    in materialAnalytic.StudentCommenters) {
                <div class="analytic">
                    <div class="analytic-contents">
                        <h4 class="analytic-name common-heading">@studentCommenter</h4>
                    </div>
                </div>
            }
        </div>
        <hr />
    }

    <h2 class="common-heading">Overall Total: @Model.TotalSeen</h2>
</div>
