﻿@model Whiteboard.Models.ViewModels.Modules.ModuleMaterialViewModel
@using Whiteboard.Models.ViewModels.Modules
@using System.Text.Encodings.Web

@inject JavaScriptEncoder jsEncoder

@{
    ViewData["Title"] = "Material";
    ViewData["ModuleCode"] = Model.Code;
}

@{await Html.RenderPartialAsync("_MaterialScriptsPartial");}

@{await Html.RenderPartialAsync("_MessengerScriptsPartial");}

<h2 class="common-heading">Material</h2>

<div id="material">
    @foreach (LectureViewModel lecture in Model.Lectures) {
        <script>
            var material = createEditableMaterial(
                "@jsEncoder.Encode(lecture.Name)", @lecture.Id);

            document.write(material);
        </script>

        @await Html.PartialAsync("_MessengerPartial",
            lecture.MaterialMessageBoard);

        <p class="show-comments" data-message-board-id="@lecture.MaterialMessageBoard.Id">Show comments</p>
        <br />
        <br />

        <script>
            $("#messenger-@lecture.MaterialMessageBoard.Id")
                .addClass("hide-message-board");
        </script>

        <script>
            @foreach (ResourceViewModel item in lecture.Resources) {
                <text>
                    var materialDisplay = $(".material-display:last");
                    var fileIcons = materialDisplay.find(".add-item-icon");
                    var fileNames = materialDisplay.find(".add-item-name");
                    fileIcons.after(createItemIcon("@lecture.Id", "@item.Id"));
                    var name = "@jsEncoder.Encode(item.Name)";
                    fileNames.after(createItemName(name));
                </text>
            }
        </script>
    }
</div>

<div id="addmaterial">
    <div id="addmaterialtext">Add Material</div>
</div>

<div id="add-material-popup-back" class="popup-back hide-popup">
    <div id="add-material-popup-front" class="popup-front table-form center-table-form">
        <div class="row-field">
            <p class="cell-field">Material Name:</p>
            <input type="text" id="material-name" class="popup-input cell-field" />
        </div>
        <div class="row-field">
            <div class="cell-field"></div>
            <button id="create-material" class="cell-field common-btn">Create</button>
        </div>
    </div>
</div>

<div id="add-item-popup-back" class="popup-back hide-popup">
    <div id="add-item-popup-front" class="popup-front table-form center-table-form">
        <div class="row-field">
            <p class="cell-field">Item Name:</p>
            <input type="text" id="item-name" class="popup-input cell-field" />
        </div>
        <div class="row-field">
            <p class="cell-field">File location:</p>
            <input type="file" id="item-file-input" class="cell-field" />
            <label for="item-file-input" id="item-file-button" class="common-btn">Select File</label>
        </div>
        <div class="row-field">
            <div class="cell-field"></div>
            <button id="add-item" class="cell-field common-btn">Add</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var material = document.getElementById("material");
        var addMaterialPopupBack = $("#add-material-popup-back");
        var addItemPopupBack = $("#add-item-popup-back");
        var createMaterialBtn = $("#create-material");
        var materialName = $("#material-name");
        var itemName = $("#item-name");
        var fileInput = $("#item-file-input");
        var fileButton = $("#item-file-button");
        var fileButtonName = fileButton.text();
        var addItemBtn = $("#add-item");
        var currentFileIcons;
        var currentFileNames;
        var currentMaterialId;

        $(material).on("click", ".add-item-icon, .add-item-name", function () {
            addItemPopupBack.removeClass("hide-popup").addClass("show-popup");
            var files = $(this).parent().parent();
            currentFileIcons = files.find(".add-item-icon");
            currentFileNames = files.find(".add-item-name");

            var materialDisplay = files.parent().parent().parent().parent();
            currentMaterialId = materialDisplay.attr('id');
        });

        $("#addmaterial").click(function () {
            addMaterialPopupBack.removeClass("hide-popup").addClass("show-popup");
        });

        addMaterialPopupBack.click(function (e) {
            if (e.target === this) {
                addMaterialPopupBack.removeClass("show-popup").addClass("hide-popup");
            }
        });

        addItemPopupBack.click(function (e) {
            if (e.target === this) {
                addItemPopupBack.removeClass("show-popup").addClass("hide-popup");
            }
        });

        fileInput.change(function () {
            var fileName = htmlEncode(this.files[0].name);
            fileButton.text(fileName);
        });

        createMaterialBtn.click(function () {
            var matName = materialName.val();

            if (matName == "") {
                alert("The material name is empty");
                return true;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddMaterial", "Module")',
                dataType: 'json',
                data: AntiForgeryToken({
                    moduleCode: "@Model.Code",
                    name: matName
                }),
                success: function (addedMaterial) {
                    material.innerHTML += createEditableMaterial(matName,
                        addedMaterial.materialId);

                    var messageBoardId = addedMaterial.materialMessageBoardId;

                    createMessengerIn(material, messageBoardId, "");

                    material.innerHTML +=
                        "<p class='show-comments' data-message-board-id='" + messageBoardId + "'>Show comments</p>" +
                        "<br/>" +
                        "<br/>";

                    $("#messenger-" + messageBoardId)
                        .addClass("hide-message-board");

                    console.log("Successfully added material");
                },
                error: function () {
                    console.log("Failed to add material");
                }
            });

            materialName.val("");
            addMaterialPopupBack.removeClass("show-popup").addClass("hide-popup");

            return true;
        });

        function addItem() {
            var materialItemName = itemName.val();

            if (materialItemName == "") {
                alert("The item name is empty");
                return true;
            }

            if (fileInput.val() == "") {
                alert("The file input is empty");
                return true;
            }

            var fileData = new FormData();

            fileData.append("moduleCode", "@Model.Code");
            fileData.append("materialId", currentMaterialId);
            fileData.append("name", materialItemName)
            fileData.append("file", fileInput.get(0).files[0]);
            AppendForgeryToken(fileData);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddMaterialItem", "Module")',
                contentType: false,
                processData: false,
                data: fileData,
                success: function (id) {
                    currentFileIcons.after(createItemIcon(currentMaterialId, id));
                    currentFileNames.after(createItemName(materialItemName));
                    console.log("Successfully added item");
                },
                error: function () {
                    console.log("Failed to add item");
                }
            });

            itemName.val("");
            fileInput.val("");
            fileButton.text(fileButtonName);
            addItemPopupBack.removeClass("show-popup").addClass("hide-popup");

            return true;
        }

        addItemBtn.click(addItem);
    });
</script>