@model Whiteboard.Models.ViewModels.IAccessDisplayable
@using Microsoft.AspNetCore.Identity
@using Whiteboard.Models.DataModels.Accounts

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>

            @foreach (AccessDisplay accessDisplay in Model.GetAccessDisplays()) {
                @if (accessDisplay.Access.Equals(AccessDisplay.HOME_ACCESS)) {
                    <li><a asp-controller="@accessDisplay.Controller" asp-action="@accessDisplay.Action">@accessDisplay.Name</a></li>
                }
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @{await Html.RenderPartialAsync((string)ViewData["NavBarPartial"], @Model);}
            <li><a asp-controller="Account" asp-action="Logout" title="Manage">Logout</a></li>
        </ul>
    </div>
} else {
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="StudentRegister">Student Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        </ul>
    </div>
}