﻿@using Whiteboard.Models.ViewModels.Accounts
@model UsersSelectViewModel

<table class="manage-accounts-table">
    <tr>
        <th class="common-label">Username</th>
        @foreach (string claimName in Model.AvailableClaims) {
            <th class="common-label">@claimName</th>
        }
        <th class="manage-accounts-cell common-label">Delete?</th>
    </tr>
    @foreach (UserSelectViewModel user in Model.Users) {
        <tr data-username="@user.Username">
            <td>
                <a asp-controller="Account" asp-action="ManageAccount" asp-route-username="@user.Username">@user.Username</a>
            </td>
            @foreach (string claim in user.Claims) {
                <td>@claim</td>
            }
            <td>
                <button class="common-btn delete-button">Delete</button>
            </td>
        </tr>
    }
</table>