﻿<script src="~/scripts/MaterialManager.js"></script>

<script>
    function createItemIcon(materialId, itemId) {
        return createItemFileIcon("@Model.Code", materialId, itemId,
            "@Url.Content("~/images/File-Icon.svg")")
    }

$(document).ready(function () {
    $("#material").on("click", ".show-comments", function () {
        var showComments = $(this);
        var messageBoardId = showComments.attr("data-message-board-id");

        var messenger = $("#messenger-" + messageBoardId);

        messenger.removeClass("hide-message-board")
            .addClass("show-message-board");

        showComments.removeClass("show-comments")
            .addClass("hide-comments");

        showComments.html("Hide comments");
    });

    $("#material").on("click", ".hide-comments", function () {
        var showComments = $(this);
        var messageBoardId = showComments.attr("data-message-board-id");

        var messenger = $("#messenger-" + messageBoardId);

        messenger.removeClass("show-message-board")
            .addClass("hide-message-board");

        showComments.removeClass("hide-comments")
            .addClass("show-comments");

        showComments.html("Show comments");
    });
});
</script>