﻿@model Whiteboard.Models.ViewModels.Modules.LectureViewModel

"<div class='material-display table-material'>" +
"   <div class='row-field'>" +
"       <div class='material-header cell-field'>" +
"           <p class='material-title'>" + textName + "</p>" +
"       </div>" +
"       <div class='material-footer cell-field'>" +
"           <div class='files-display'>" +
"               <div class='table-files'>" +
"                   <div class='row-field file-icons'>" +
"                       <div class='add-item-icon cell-field'></div>" +
"                   </div>" +
"                   <div class='row-field file-names'>" +
"                       <div class='add-item-name cell-field'></div>" +
"                   </div>" +
"               </div>" +
"           </div>" +
"       </div>" +
"   </div>" +
"</div>"