﻿<script src="~/scripts/SecurityLib.js"></script>
<script src="~/scripts/MessagingHandlers.js"></script>

<script>
    $(document).ready(function () {
        setupHandlers('@Url.Action("ReceiveMessage", "Module")')
    });
</script>