﻿@using Whiteboard.Models.ViewModels.Messaging
@model Whiteboard.Models.ViewModels.Messaging.MessageBoardViewModel

<script>
    var messages = "";

    @foreach (MessageViewModel message in Model.Messages) {
        <text>
            messages += "@Html.Raw(message.Contents)";
        </text>
    }

    createMessenger(@Model.Id, messages);
</script>