﻿@model Whiteboard.Models.ViewModels.Accounts.ModulesViewModel
@using Whiteboard.Models.ViewModels.Accounts

<script src="~/scripts/SecurityLib.js"></script>

<h2 class="common-heading">Your Modules</h2>
<div class="modules-list">
    @if (Model.TakenModules != null && Model.TakenModules.Any()) {
        @foreach (ModuleStartViewModel module in Model.TakenModules) {
            <div class="link-container">
            <a class="common-btn" asp-controller="Module" asp-action="Index" asp-route-code="@module.Code">@module.Code - @module.Name</a>
            </div>
        }
    } else {
        <p class="common-paragraph">You didn't choose any courses</p>
    }
</div>

<br/>

<div class="modules-list">
    <h2 class="common-heading">Available Modules</h2>
    @foreach (ModuleStartViewModel module in Model.AvailableModules) {
        <div class="link-container">
        <a class="module_choice common-btn" data-code="@module.Code">@module.Code - @module.Name</a>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $(".module_choice").click(function () {
            var moduleCode = $(this).attr("data-code");

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddModule", "Home")",
                data: AntiForgeryToken({ code: moduleCode }),
                success: function () {
                    location.reload(true);
                }
            });
        });
    });
</script>