﻿@model Whiteboard.Models.ViewModels.IAccessDisplayable

<li><a asp-controller="Module" asp-action="Index" asp-route-code="@ViewData["ModuleCode"]">Module Home</a></li>
<li><a asp-controller="Module" asp-action="Material" asp-route-code="@ViewData["ModuleCode"]">Material</a></li>

@foreach(AccessDisplay accessDisplay in Model.GetAccessDisplays()) {
    @if(accessDisplay.Access.Equals(AccessDisplay.MODULE_ACCESS)) {
        <li><a asp-controller="@accessDisplay.Controller" asp-action="@accessDisplay.Action" asp-route-code="@ViewData["ModuleCode"]">@accessDisplay.Name</a></li>
    }
}